###  1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*
'hello' 
-87.8 
-
/ 
+
6

Values are 'hello'  -87.8  6

Expressions are * - / +

### 2. What is the difference between string and variable?

String is any kind of data or value usually enclosed by ("") or ('') .

Variables are references which we create to give it some value of any data type.

### 3. Describe three different data types.

Three diffrent data types - 
1. numeric - integer, float and complex
2. string 
3. boolean

### 4. What is an expression made up of? What do all expressions do?

Expression is made up of operators and operands. Expressions do mathematical operation between operands used in a code with different type of operators to produce some other value.

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In an expression, we do mathematical operations of some values which gives some other value while in statement we are assigning some value to a word so that, we can use that value later in an expression.

### 6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

After running this code, variable bacon still gives same value of 22 because we didnt assign 2nd code to the variable.

In [3]:
bacon = 22

bacon + 1

bacon

22

### 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

Same value for both term - 

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

Beacause variable names should start with numbers. It should always start with an alphabet.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

3 functions -

int() 


float() 

str()

In [12]:
# example 
value = 100
print(int(value), float(value), str(value))

100 100.0 100

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten &#39; + 99 + &#39; burritos.'

In [13]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

it shows error because we can not concatenate string and integer together in a single function.

In [14]:
# we can fix it by converting  99 into string by adding ('')
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'